.profile {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.profile .profile-img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
}

.vl {
  border-left: 5px solid black;
  height: 80%;
}

.counts {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 3rem;
  height: 100px;
  display: flex;
  align-items: center;
}

.counts .number {
  text-align: center;
}

.counts .types {
  text-align: center;
}

.badge {
  margin: 3px 5px;
}

.profile .profile-img img {
  width: 100%;
  border-radius: 50%;
}
